<input type="text" name="pasteId" id="pasteId" value="" placeholder="paste video id">
<button id="saveId">SAVE</button>
<div class="gallery" id="galleryContainer">
    <% vids.forEach(function(vid) {%>
        <div class="thumbnail">
            <a href="<%= vid.url %>">
                <h3><%= vid.title %></h3>
                <img src="https://img.youtube.com/vi/<%= vid.id %>/0.jpg">
            </a>
        </div>
    <% }); %>
</div>
<!-- <button id="scrollMore">MORE</button> -->
<script>
    console.log(<% vids %>);
    var lastVid = <%- last %>;
    var galCont = document.getElementById("galleryContainer");
    var paste = document.getElementById("pasteId");
    var save = document.getElementById("saveId");
    var more = document.getElementById("scrollMore");
    var scrollTimer;
    var fetching;

    // more.addEventListener("click",loadMore)

    window.addEventListener('scroll', function(){
        if( lastVid <=1 || fetching) return;
        if(scrollTimer) clearTimeout(scrollTimer);
        if(window.scrollY + document.body.clientHeight + 500 >= document.body.scrollHeight){
            scrollTimer = setTimeout(function(){
                console.log("loadMore");
                loadMore();
            },100)
        }
    })

    function loadMore(){
        fetching = true;
        axios.get("gallery/more",{
            params:{
                last: lastVid
            }
        }).then(function(result){
            lastVid = result.data.last;
            var lastElem = document.getElementsByClassName("thumbnail");
            lastElem = lastElem[lastElem.length -1];
            var html="";
            result.data.vids.forEach(function(el){
                html+= createThumb(el);
            })
            galCont.innerHTML += html;
            fetching = false;
        })
    }
    function createThumb(el){
        var thumb = `<div class="thumbnail">
                    <a href="https://www.youtube.com/watch?v=${el.id}">
                        <h3>${el.title}</h3>
                        <img src="https://img.youtube.com/vi/${el.id}/0.jpg">
                    </a>
                </div>`
        return thumb;
    }

    save.addEventListener("click",function(){
        pasteId(paste.value)
    })

    function pasteId(id){
        axios.post("/vidbyid",{ vidId: id }).then(function(result){
            var html;
            if(result.data.vid){
                html = createThumb(result.data.vid);
                saveVidId(id)
            }else{
                html= "No such video on youtube"
            }
            galCont.innerHTML = html + galCont.innerHTML;
            paste.value="";
        }).catch(function(err){
            console.log(err);
        })
    }
</script>
