<div class="gallery" id="gall">
    <% vids.forEach(function(vid) {%>
        <div class="thumbnail">
            <a href="<%= vid.url %>">
                <h3><%= vid.title %></h3>
                <img src="https://img.youtube.com/vi/<%= vid.id %>/0.jpg">
            </a>
        </div>
    <% }); %>
</div>
<!-- <button id="more">MORE</button> -->
<script>
    var lastVid = 5;
    var gall = document.getElementById("gall");
    var more = document.getElementById("more");
    more.addEventListener("click",function(){

        axios.get("gallery/more",{
            params:{
                last:lastVid
            }
        }).then(function(result){
            console.log(result);
            var html;
            result.data.forEach(function(el){
                html+= `<div class="thumbnail">
                    <a href="${el.url}">
                        <h3>${el.title}</h3>
                        <img src="https://img.youtube.com/vi/${el.id}/0.jpg">
                    </a>
                </div>`
            })
            gall.innerHTML += html;
            lastVid +=5;
        })
    })
</script>
