<div class="gallery" id="galleryContainer">
    <% vids.forEach(function(vid) {%>
        <div class="thumbnail">
            <a href="<%= vid.url %>">
                <h3><%= vid.title %></h3>
                <img src="https://img.youtube.com/vi/<%= vid.id %>/0.jpg">
            </a>
        </div>
    <% }); %>
</div>
<button id="scrollMore">MORE</button>
<script>
    var lastVid = <%- last %>;
    var gall = document.getElementById("galleryContainer");
    var more = document.getElementById("scrollMore");
    more.addEventListener("click",function(){

        axios.get("gallery/more",{
            params:{
                last: lastVid
            }
        }).then(function(result){
            lastVid = result.data.last;
            var lastElem = document.getElementsByClassName("thumbnail");
            lastElem = lastElem[lastElem.length -1];
            var html="";
            result.data.vids.forEach(function(el){
                html+= `<div class="thumbnail">
                            <a href="https://www.youtube.com/watch?v=${el.id}">
                                <h3>${el.title}</h3>
                                <img src="https://img.youtube.com/vi/${el.id}/0.jpg">
                            </a>
                        </div>`
            })
            gall.innerHTML += html;
            if(lastVid <=1) more.style.display = "none";
        })
    })
</script>
