<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% if (data[0].title === undefined) { %>
            <h1>Untitled</h1>
        <% } else { %>
            <h1><%= data[0].title %></h1>
        <% } %>
        <iframe id="ytplayer" type="text/html" width="720" height="405" allow="autoplay"
                src="https://www.youtube.com/embed/<%= data[0].id %>?autoplay=1"
                frameborder="0" allowfullscreen rel="0" showinfo="0" ecver="2"
                autoplay="1" enablejsapi="1">
    </body>
    <script src="../node_modules/ejs/ejs.min.js"></script>
    <script type="text/javascript">
        var html = ejs.render('<%= data %>')
    </script>
</html>
<script type="text/javascript">

</script>>
