<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/styles.css">
        <title>TRUTUBE</title>
    </head>
    <body>
        <div id="landing">
            <h1>trutube</h1>
            <p>randomized youtube content discovery</p>
            <a href="/home">ENTER</a>
        </div>
    </body>
</html>
