<div id="nav">
    <button name="" id="home"> HOME </button>
    <button name="movie trailer" id="trailers"> TRAILERS </button>
    <button name="tutorial" id="tuts"> TUTS </button>
    <button id="gallery"> GALLERY </button>
</div>
<script>
    var nav = document.getElementById("nav");
    nav.addEventListener("click", handleClik);

    function handleClik(e){
        if(location.pathname == "/gallery"){
            keyword = e.target.name;
            window.location.href = "/";
        }
        if(e.target.id == "gallery"){
            window.location.href = "/gallery";
        } else {
            history.pushState({keyword:e.target.name}, e.target.name, e.target.id);
            keyword = e.target.name;
            playNext(e.target.name);
        }
    }

    window.onpopstate = function(e){
        if(e.state){
            // console.log(e.state.keyword);
            keyword = e.state.keyword;
            playNext(e.state.keyword);
            // document.getElementById("content").innerHTML = e.state.html;
            // document.title = e.state.pageTitle;
            // console.log(document.location.pathname);
        }
    };
</script>
