<div id="nav">
    <button name="" id="home"> TRUTUBE </button>
    <button name="movie " id="movies"> MOVIES </button>
    <button name="music song" id="music"> MUSIC </button>
    <button id="gallery"> GALLERY </button>
</div>
<script>
    var nav = document.getElementById("nav");
    var buttons = nav.querySelectorAll("button");
    nav.addEventListener("click", handleClik);
    //there should be a better solution
    location.pathname == "/home" && buttons[0].classList.add("selected");
    location.pathname == "/movies" && buttons[1].classList.add("selected");
    location.pathname == "/music" && buttons[2].classList.add("selected");
    location.pathname == "/gallery" && buttons[3].classList.add("selected");

    function handleClik(e){
        if(e.target.id=="nav") return;
        highlite(e.target);
        if(e.target.id == "gallery"){
            window.location.href = "/gallery";
        } else if (location.pathname != "/gallery") {
            history.pushState({keyword:e.target.name}, e.target.name, e.target.id);
            searchParams = {
                publishedBefore: "2019-01-01T00:00:00Z",
                relevanceLanguage: "en",
                duration: "any",
                keyword: e.target.name
            }
            playNext(searchParams);
        }
        if(location.pathname == "/gallery"){
            searchParams.keyword = e.target.name;
            window.location.href = ("/" + e.target.id);
        }
    }
    function highlite(elem){
        [].forEach.call(buttons, function(el){
            el.classList.remove("selected");
        })
        elem.classList.add("selected");
    }
    window.onpopstate = function(e){
        if(e.state){
            searchParams.keyword = e.state.keyword;
            // playNext(e.state.keyword);
            // document.getElementById("content").innerHTML = e.state.html;
            // document.title = e.state.pageTitle;
            // console.log(document.location.pathname);
        }
    };
</script>
