<h1></h1>
<div id="player"></div>
<h3></h3>
<script>
        var title = document.getElementsByTagName("H1")[0]
        var published = document.getElementsByTagName("H3")[0]
        title.innerHTML = data.title;
        published.innerHTML ="published at " + clearDate(data.publishedAt);
        // create youtube player
        var videoId = data.id;
        var player;
        function onYouTubePlayerAPIReady() {
           player = new YT.Player('player', {
             width: '640',
             height: '390',
             videoId: videoId,
             events: {
               onReady: onPlayerReady,
               onStateChange: onPlayerStateChange
             }
           });
        }

        // autoplay video
        function onPlayerReady(event) {
           event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
           if(event.data === 0) {
               playNext(keyword)
           }
        }
   </script>
