<h1 id="title"></h1>
<div id="player"></div>
<h3 id="published"></h3>
<script src="https://www.youtube.com/player_api"></script>
<script>
        var title = document.getElementById("title");
        var published = document.getElementById("published");
        title.innerHTML = data.title;
        published.innerHTML ="published at " + clearDate(data.publishedAt);
        // create youtube player
        var videoId = data.id;
        var player;
        function onYouTubePlayerAPIReady() {
           player = new YT.Player('player', {
             width: '640',
             height: '390',
             videoId: videoId,
             events: {
               onReady: onPlayerReady,
               onStateChange: onPlayerStateChange
             }
           });
        }

        // autoplay video
        function onPlayerReady(event) {
           event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
           if(event.data === 0) {
               playNext(searchParams)
           }
        }
   </script>
