<h2 id="title"></h2>
<!-- <h4 id="published"></h4> -->
<div id="player"></div>
<script src="https://www.youtube.com/player_api"></script>
<script>
        var container = document.getElementById("container");
        var title = document.getElementById("title");
        var published = document.getElementById("published");
        title.innerHTML = data.title;
        // published.innerHTML = clearDate(data.publishedAt);
        // create youtube player
        var videoId = data.id;
        var player;
        var playerW = container.clientWidth;
        var resizeTimer;
        window.addEventListener("resize",resizePlayer);

        function onYouTubePlayerAPIReady() {
            console.log(container.clientWidth);
           player = new YT.Player('player', {
             width: playerW,
             height: Number(container.clientWidth * 0.609),
             videoId: videoId,
             events: {
               onReady: onPlayerReady,
               onStateChange: onPlayerStateChange
             }
           });
        }

        // autoplay video
        function onPlayerReady(event) {
           event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
           if(event.data === 0) {
               playNext(searchParams)
           }
        }

        function resizePlayer(){
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(function(){
                player.a.width = container.clientWidth;
                player.a.height = Number(container.clientWidth * 0.609);
            },100);
        }
   </script>
