<h2 id="title"></h2>
<!-- <h4 id="published"></h4> -->
<div id="player"></div>
<script src="https://www.youtube.com/player_api"></script>
<script>
        var title = document.getElementById("title");
        var published = document.getElementById("published");
        title.innerHTML = data.title;
        // published.innerHTML = clearDate(data.publishedAt);
        // create youtube player
        var videoId = data.id;
        var player;
        var playerW = Number(window.innerWidth * 0.85)
        function onYouTubePlayerAPIReady() {
           player = new YT.Player('player', {
             width: playerW,
             height: Number(playerW * 0.609),
             videoId: videoId,
             events: {
               onReady: onPlayerReady,
               onStateChange: onPlayerStateChange
             }
           });
        }

        // autoplay video
        function onPlayerReady(event) {
           event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
           if(event.data === 0) {
               playNext(searchParams)
           }
        }
   </script>
