body, html{
    height: 95vh;
    font-family: monospace;
    /* background-color: black; */
}
#landing{
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-size: 2em;
}
/* .mainTitle{

} */
.subtitle{
    position: relative;
    top:40vh;
    font-size: 1em;
    color: dimgrey;
}
a {
    color: black;
}
a:hover {
    color: red;
    text-decoration: none;
}

#enter{
    text-decoration: none;
    background-color: lightgrey;
    color: black;
    padding: 0.15em 0.4em;
    border-radius: 0.25em;
    font-size: 0.85em;
}
#enter:hover{
    background-color: black;
    color: red;
}
#container{
    width: 80vw;
    margin: 0 auto;
    margin-top: 2em;
}
#galleryContainer{
    width: 25em;
}
.thumbnail img{
    width: 25em;
}
#nav{
    margin-bottom: 1em;
    display: inline-block;
}

button {
    border-radius: 0.3em;
    background-color: lightgrey;
    border: none;
    padding: 0.25em 0.65em;
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
}

button:hover {
    color: red;
    cursor: pointer;
}
.selected{
    background-color: black;
    color: red;
}
.controls{
    margin-top: 1em;
}
select,input{
    border-radius: 0.3em;
    border: 1px solid lightgrey;
    padding: 0.25em;
    font-family: monospace;
}
#moreParams{
    display: inline-block;
    text-decoration: underline;
    margin-top: 0.25em;
    margin-left: 0.7em;
}
#moreParams:hover{
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}
#like{
    float: right;
    font-size: 1.2em;
    padding: 0.25em 0.5em;
}
#likeInfo{
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
}
#title{

}
#published{
    float: right;
}
#next{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 1024px) {
    #container{
        width: 60vw;
    }
}

@media only screen and (max-width: 800px) {
    #container{
        width: 95vw;
    }
}
